body {
    background-image: url('../images/main.jpg');
    /* on met une image de fond qui ce trouve dans le dossier image*/
    background-size: cover;
    /* on spécifie la taille de l'image en arrière plans*/
    background-repeat: no-repeat;
    /* On évite que l'image soit répéter*/
    height: 100em;
    height: 100%;
    font-family: 'Numans', sans-serif;
    width: 100%;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    /*On modifie l'aspect de notre card*/
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
    /*On rend la couleur de fond de notre card noir Stransparente */
}

.card-header h3 {
    color: white;
}

.cent {
    color: white;
}

#titre {
    text-align: center;
    color: white;
}