body {
    background-image: url('../images/main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100em;
    font-family: 'Numans', sans-serif;
    width: 100em;
}

.card-header h3 {
    color: white;
}

#titre {
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .conteneur {
        margin-top: 2%;
        margin-bottom: 2%;
        background-color: rgba(0, 0, 0, 0.5) !important;
        text-align: center;
        margin-left: 35%;
        width: 50em;
        padding: 1%;
    }
}

@media screen and (max-width: 1000px) {
    body {
        background-clip: border-box;
        background-origin: padding-box;
        background-color: #f2f2f2;
        background-repeat: no-repeat;
        font-family: arial;
        width: 100%;
    }

    .conteneur {
        margin-top: 2%;
        margin-bottom: 2%;
        background-color: rgba(0, 0, 0, 0.5) !important;
        text-align: center;
        width: 50em;
        padding: 10%;
    }
}