.high {
  display: flex;
  background-color: black;
  border-bottom: 4mm ridge hsla(39, 100%, 66%, 1);
}

.hey {
  color: white;
  margin-left: 37%;
}

a:hover {
  background-color: hsla(39, 100%, 66%, 1);
}

.icon {
  position: relative;
  left: 0;
  width: 65px;
  height: 65px;
}