.ghigh {
    background-color: #000000;
    height: 2600px;
    min-height: 400px;
    width: 15%;
}

.ghigh ul {
    height: 40%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ghigh ul li {
    list-style-type: none;
}

.ghigh ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-right: 20px;
}

a:hover {
    color: hsla(39, 100%, 66%, 1);
}

p {
    color: #000000;
}

.fin {
    margin-top: 5%;
}