

.bigEvent {
    display: flex;
    justify-content: center;
   background-image: url("../images/fond.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;

}